html, body, main {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgb(50, 50, 50);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    margin: 0;
}

main {
    max-width: 66%;
    margin: 0 auto;
    text-align: center;
}

header {
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-style: italic;
    color: rgb(240, 240, 240);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    opacity: 0.75;
}

section {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    height: 90%;
    color: rgb(240, 240, 240);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

h1 {
    font-size: 300%;
    font-weight: normal;
}
